@page "/jobdetails/{Id:int}"

@inject GoBack GoBack

<div class="row bg-light mb-5">
    <div class="col-2">
        <a onclick="goBack()">
            <i class="oi oi-chevron-left"></i>
        </a>
    </div>
    <div class="col-10">
        <h4>Job Details</h4>
    </div>
</div>

<div class="m-2">

    <div class="shadow-lg p-3 mb-5 bg-white rounded-3">

        <div class="row mb-4">
            <div class="col-12">
                <label><b>Job Title</b></label>
                <div>@_listingDto.Title</div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-6">
                <label><b>Cateogry</b></label>
                <div>@_listingDto.CategoryName</div>
            </div>
            <div class="col-6">
                <label><b>Location</b></label>
                <div>@_listingDto.LocationName</div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <label>
                    <b>Job Description</b>
                </label>
                <div>
                    @_listingDto.MainDescription
                </div>
            </div>
        </div>

        @*<div class="row mb-4">
        <div class="col-12">
        <label><b>Hours Needed</b></label>
        <div>
        <div>Less than 40 Hours/Week</div>
        </div>
        </div>
        </div>

        <div class="row mb-4">

        <div class="col-12">
        <label>
        <b>Duration</b>
        </label>
        <div>
        <div>Less than 1 Month</div>
        </div>
        </div>
        </div>

        <div class="row mb-4">
        <div class="col-12">
        <label>
        <b>Experience Level</b>
        </label>
        <div>
        <div>Intermediate</div>
        </div>
        </div>
        </div>*@

        <div class="row mb-4">
            <div class="col-6">
                <label>
                    <b>Budget</b>
                </label>
                <div>
                    <div>€@_listingDto.BudgetText</div>
                </div>
            </div>
            <div class="col-6">
                <label>
                    <b>Posted</b>
                </label>
                <div>
                    @_listingDto.AdvertAge
                </div>
            </div>
        </div>

        


        @*@if (Text == "edit")
        {
        <div class="row my-5">
        <div class="col-12 text-center">
        <button class="btn btn-outline-primary" @onclick="UpdateJobDetails">Update Job</button>
        </div>
        </div>
        }
        else
        {
        <div class="row my-5">
        <div class="col-12 text-center">
        <button class="btn btn-outline-primary tr-theme" @onclick="GoToSubmitProposal">Submit Proposal</button>
        </div>
        </div>
        }*@
    </div>
    <hr />

    @*  <h4 class="text-center">
    Comments about this task
    </h4>

    <p class="mt-4">
    Comment below for more details and remember that for your safety,
    not to share personal information e.g. email and phone numbers.
    </p>

    <h5 class="text-center"><b>To join the conversation</b></h5>

    <div class="text-center mb-4">
    <a class="btn btn-outline-primary tr-theme" href="/logintest">Sign In</a>
    </div>*@


    @*chat bubble - start*@
    @*<div class="card bg-sohbet border-0 m-0 p-0" style="height: 100vh;">
    <div id="sohbet" class="card border-0 m-0 p-0 position-relative bg-transparent" style="overflow-y: auto; height: 100vh;">

    <div class="balon1 p-2 m-0 position-relative" data-is="You - 3:20 pm">

    <a class="float-end"> Hey there! What's up? </a>

    </div>

    <div class="balon2 p-2 m-0 position-relative" data-is="Poster - 3:22 pm">

    <a class="float-start sohbet2"> Checking out iPhone 12 you know.. </a>

    </div>
    </div>
    </div>*@
    @*chat bubble - start*@
</div>

